@import "./fonts.css";
@import "./variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  background: #f0f4f8;
  overflow-x: hidden;
}

img,
video {
  max-width: 100%;
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font: 'Barlow Condensed';
}